
h1{
    text-align: center;
    color: #55a089;

    margin-bottom: 5rem;
}

.instituicao_group{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.instituicao{
    width: 30%;
    border-radius: 3px;
    margin-bottom: 2rem;
    padding: 0.5rem;
    color: #fff;
    background-color: #2F4858;

}

.instituicao div:first-of-type{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 1rem;
}
.instituicao div:first-of-type p{
    margin: auto 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #EAFEF7;
}
.instituicao div:nth-child(2) p{
    margin-bottom: 0.1rem;
    text-align: justify;
}
.botao_iban_div{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;
}
.botao_iban_div input{
    width: 70%;
    padding: 0.3rem;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}
.instituicao label{
    margin: auto;
    border: none;
    border-radius: 3px;
    padding: 0.4rem;
    color: #fff;
    background-color: #55a08a;
    font-weight: bold;
    cursor: pointer;

}


#adicionar_dados_cartao{
    min-height: 75%;
}

/* responsividade */

@media screen and (max-width: 1100px) {
    .instituicao{
        width: 35%;
    
    }
}
@media screen and (max-width: 920px) {
    .instituicao{
        width: 40%;
    
    }
}
@media screen and (max-width: 800px) {
    .instituicao{
        width: 90%;
    
    }
}
@media screen and (max-width: 430px) {
    
    h1{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}