@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/*menu*/


#menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto 3rem auto;

}
#logo_menu{
    margin-left: 3rem;
}
#logo_menu img{
    width: 4rem;
}
.abrir_menu{
    background-color: #55a08a;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: auto 2rem auto auto;

    z-index: 1;
}

.fechar_menu{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
    z-index: 2;
}
.fechar_menu i{
    font-size: 2rem;
    color: #55a08a;
}
#menu nav{
    position:fixed;
    width: 0%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    z-index: 1;

    background-color: #55a08a;
    transition: width 2s;
}
.menu_li{
    display: none;
}
.menu_li ul{
    height: 100vh;
}

.menu_li ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu_li ul > li{
    list-style: none;
    margin-bottom: 3rem;
    background-color: #fff;


    width: 25%;
    padding: 0.6rem;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: width 3s;
}

.menu_li ul > li:hover{

    width: 50%;
    padding: 0.6rem;
    text-align: center;
}
.menu_li ul > li a{
    text-decoration: none;
    color: #000;
    display: inline-block;
    width: 100%;
}












/*barra de pesquisa*/
.search_container{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 3rem;
}
.search_container i{
    color: #55a08a;
    margin-left: 1rem;
    cursor: pointer;
}
.search_input{
    min-width: 15rem;
    border-radius: 5px;
    border: 1px solid #55a08a;
    padding: 0.2rem;

    outline-style: none;
}


/*corpo*/

#produtos h1{
    text-align: center;
    font-weight: bold;
    color: #55a08a;
    margin-bottom: 3rem;
}

#produto_itens{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.produto_iten{
    position: relative;
    width: 40%;
    margin-bottom: 3rem;
}

.produto_iten img{
    width: 100%;
    margin-bottom: 1rem;
}
.produto_detail{
    line-height: 0.5;
    font-size: 14px;
    font-weight: bold;
}
.preco{
    color: #55a08a;
}
.ver_detalhes{
    width: 50%;
    margin: 1.5rem auto auto auto;
}
.ver_detalhes a{
    text-align: center;
    background-color: #55a08a;
    color: #fff;
    padding: 0.5rem;
    border-radius: 4px;

    text-decoration: none;
}




/*Responsividade*/
@media screen and (min-width: 855px){
    .produto_iten{
        width: 30%;
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 577px){
    .produto_iten{
        width: 80%;
        margin-bottom: 3rem;
    }
    .search_input{
        width: 50%;
    }
}
@media screen and (min-width: 577px){
    .search_input{
        min-width: 25rem;
    }
}

@media screen and (max-width: 360px){
    .produto_iten{
        width: 80%;
        margin-bottom: 3rem;
    }
}



