h1{
    text-align: center;
    font-weight: bold;
    color: #55a08a;
    margin-bottom: 3rem;
}
.mini_menus{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.mini_menus a, .mini_menus button{
    background-color: #2F4858;
    color: #fff;

    padding: 0.3rem 1rem;
    border-radius: 5px;

    /*for link */
    text-decoration: none;
    /*for button*/
    border: none;
}

.reserva_listada{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

    background-color: #55a08a;
    color: #fff;

}
.reserva_listada > p{
    justify-self: start;
}
.reserva_listada button{
    justify-self: flex-end;
}